/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes currentTheme {
  from {
    inset-inline-start: -20px;
  }
  50% {
    inset-inline-start: -16px;
  }
  to {
    inset-inline-start: -20px;
  }
} 

@keyframes heartScale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes heartSparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__icon-button .contour {
  transition: fill 0.3s linear 0.06s;
}

.card__icon-button .core {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button .main-body {
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear 0;
}

.card__icon-button:active .core {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.3s linear 0;
}

.card__icon-button .sparks {
  opacity: 0;
}

.like-icon.is-liked .core {
  fill: var(--heart-color, #FF0000);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color, #FF0000);
}

.like-icon.is-liked .contour {
  fill: var(--heart-color, #FF0000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartScale 0.3s ease-in alternate 0.1s;
}

.like-icon.is-liked .sparks {
  animation: heartSparks 0.3s ease-in alternate .3s;
}