/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/


.page {
  padding-block: 100px;
  color: var(--main-color, #000);
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight-text, 400);
  background: fixed center / cover  var(--bg-color, #fff);
  background-image: repeating-linear-gradient(var(--grid-gradient-color, #d3d3d3) 0px 2px, transparent 2px 4px), 
                    repeating-linear-gradient(90deg, var(--grid-gradient-color, #d3d3d3) 0px 2px, transparent 2px 4px),
                    linear-gradient(var(--bg-gradient-color-main, #e7e7e7) 0.01%, var(--bg-gradient-color-main, #e7e7e7), var(--bg-gradient-color-secondary, #1a1a1a));
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.adaptive-content {
  margin-inline: auto;
  inline-size: var(--content-size, clamp(375px, 70vi, 700px));
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color, #000);
  padding-block-start: clamp(120px, 9.4vi, 136px);
  padding-block-end: 26px;
  font-family: var(--accent-font, 'PressStart2P'), monospace;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__logo {
  font-size: clamp(49px, 4.5vi, 65px);
  text-transform: uppercase;
}

.header__title {
  margin-block-start: 21px;
  font-weight: normal;
  font-size: clamp(14px, 1.6vi, 23px);
}

.theme-menu {
  margin-block-start: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  margin-inline-start: 20px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
  animation-name: currentTheme;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.1s linear;
  transform: scaleX(0);
  transform-origin: 0 50%;
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.main {
  margin-block-start: 100px;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  margin: 5px 10px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--main-font-weight-title, 700);
}

.card__image-container {
  position: relative;
  border-block: 2px solid var(--main-color, #000);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1 / 1;
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-multiple {
  filter: grayscale(80%);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-invert {
  filter: brightness(50%);
}

.filter-pc {
  filter: saturate(500%) brightness(50%);
}

.filter-blur {
  filter: hue-rotate(0.25turn);
}

.filter-entrance {
  filter: blur(3px);
}

.card__image-label {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  font-family: var(--accent-font, 'PressStart2P'), monospace;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 2px var(--bg-color, #fff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports(((text-stroke: 1px var(--bg-color, #fff))) or (-webkit-text-stroke: 1px var(--bg-color, #fff))) {
  .card__image-label {
      text-shadow: none;
      text-stroke: 1px var(--bg-color, #fff);
      -webkit-text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__content {
  padding: 23px 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  width: max-content;
  margin-inline-start: auto;
  margin-block-start: 25px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 50%;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.button:hover:after {
  transform: scaleX(1);
}

.button:focus {
  box-shadow: 2px 2px 0 var(--main-color, #000);
  outline: none;
}

.button__text {
  position: relative;
  z-index: 5;
  display: block;
  font-family: var(--accent-font, 'PressStart2P'), monospace;
  font-size: 14px;
  font-weight: normal;
  color: var(--bg-color, #fff);
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__like-button {
  display: block;
  min-width: 130px;
  padding: 10px 10px;
  text-align: center;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
  outline: none;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  margin-inline: auto;
  padding: 15px 20px;
}

.save-button--floppy {
  position: relative;
  z-index: 5;
  width: 21px;
  aspect-ratio: 1 / 1;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  align-items: center;
  gap: 30px 20px;
  max-width: min(91%, 353px);
  padding: 30px;
  color: var(--main-color, #000);
  font-family: var(--accent-font, 'PressStart2P'), monospace;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content-floppy {
  width: 39px;
}

.dialog__form {
  grid-column: 1 / 3;
}

.dialog__button {
  width: 100%;
  padding-block: 12px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save-button--floppy {
    width: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}