/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --background-color: white;
  --border-color: black;
  --text-color: black;
  --text-color-accent: black;
  --text-color-shadow: white;
  --color-span-button: white;
  --like-color: #f00;
  --font: 'Inter-Variable';
  --font-accent: 'PressStart2P';
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --subtitle-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --text-menu-size: 14px;
  --text-size: 18px;
  --heading-font-weight: 700;
  --text-font-weight: 400;
  --c1: #d3d3d3;
  --c2: #e7e7e7;
  --c3: #1a1a1a;
  --background-image-gradient: repeating-linear-gradient(
      90deg,
      var(--c1) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0deg, var(--c1) 0 2px, transparent 2px 4px),
    linear-gradient(var(--c2), var(--c3));
}