/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --main-font-weight-title: 700;
  --main-font-weight-text: 400;
  --content-size: clamp(375px, 70vi, 700px);
  --main-color: #000;
  --bg-color: #fff;
  --grid-gradient-color: #d3d3d3;
  --bg-gradient-color-main: #e7e7e7;
  --bg-gradient-color-secondary: #1a1a1a;
  --heart-color: #FF0000;
}
